footer {
    background-color: #4250f0;
    height: 150px;
    margin-top: 4rem;
    color: white;
    .fbox1 {
        height: 6rem;
        line-height: 6rem;
        i {
            font-size: 1.5rem;

        }
    }
    .fbox2 {
        height: 6rem;
        line-height: 6rem;
        text-align: right;
        a {
            color: white;
            padding: 0 1rem;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}