<header>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1>Search for your Job with Enjaz</h1>
            <div class="search-input-div">
                <div class="enjaz-input-group">
                    <input type="text" class="form-control --round --shadow" placeholder="Search Job">
                    <div class="input-icon">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
            </div>
            <p class="job-count">
              <span class="job-count-number"> 24 </span> 
              job offers found
            </p>
        </div>
      </div>
    </div>
</header>