<div class="container">
    <div class="row">
        <div class="sidebar col-4">
            <div class="filter-div">
                <p> Search </p>
                <div class="filter-content">
                    <input />
                </div>
            </div>
            <div class="filter-div">
                <p> Location </p>
                <div class="filter-content">
                    <input />
                </div>
            </div>
            <div class="filter-div">
                <p> Hot Searchs </p>
                <div class="filter-content">
                    <span>PHP</span>
                    <span>React</span>
                </div>
            </div>
        
            </div>
        
            <div class="content col-8">
            <div class="job-list">
                <div class="job-card">
                <img src="" />
                <div class="left-details">
                    <h1>Front end Developer - <span>Google</span></h1> 
                    <ul class="tags">
                    <li>Web Development</li>
                    <li>Angular</li>
                    </ul>
                </div>
        
                <div class="right-details">
                    <h1>Frontend</h1>
                    <span class="date">2 days ago</span>
                    <span class="location">USA, Poland</span>
                </div>
                </div>
        
                <div class="job-card">
                    <img src="" />
                    <div class="left-details">
                    <h1>Front end Developer - <span>Google</span></h1> 
                    <ul class="tags">
                        <li>Web Development</li>
                        <li>Angular</li>
                    </ul>
                    </div>
            
                    <div class="right-details">
                        <h1>Frontend</h1>
                        <span class="date">2 days ago</span>
                        <span class="location">USA, Poland</span>
                    </div>
                </div>
        
        
            </div>
            <a> Show More </a>
            </div>
    </div>
</div>